<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info'%>
      </section>
        <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
      <div class="col-md-8">
      <h3>みんなの感想やレビュー</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
<div class="center jumbotron">

  <h1>ゲームシェア</h1>

  <h2>
    新しいゲームに触れて新しい世界を切り拓こう。
  </h2>

  <%= link_to "新規登録する", '/signup', class: "btn btn-lg btn-primary" %>
  <%#= link_to image_tag("game.png", alt: "Game logo") %>
  </div>
  <% end %>




