<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "ゲームシェア", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Top", root_path %></li>
        <li><%= link_to "ゲームシェアとは", help_path %></li>
          <% if logged_in? %>
          <li><%= link_to "マイページ", users_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              メニュー <b class="caret"></b>
            </a>
             <ul class="dropdown-menu">
              <li><%= link_to "プロフィール", current_user %></li>
              <li><%= link_to "設定", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "ログアウト", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
          <% else %>
            <li><%= link_to "ログイン", login_path %></li>
          <% end%>
      </ul>
    </nav>
  </div>
</header>